<section class="section">
  <div class="container">
    <div class="advant-text-wrap">
      <h3 class="pre-title-dark">Переваги</h3>
      <h2 class="title-dark advant-title">
        <span class="decor-advant">¿</span>Чому люди приходять до мене<span
          class="decor-advant"
          >?</span
        >
      </h2>
      <p class="advant-text">
        Про мене говорять багато хорошого. Але краще 1 раз побачити і відчути...
      </p>
    </div>
    <div class="advant-wrap">
      <ul class="advant-list">
        <li class="advant-item">
          <span class="advant-item-number">10</span>
          <p class="advant-item-text">Задоволених клієнтів за день</p>
        </li>
        <li class="advant-item">
          <span class="advant-item-number">3</span>
          <p class="advant-item-text">Нагороди за обслуговування</p>
        </li>
        <li class="advant-item">
          <span class="advant-item-number">20</span>
          <p class="advant-item-text">Найкращих барберів Києва</p>
        </li>
        <li class="advant-item">
          <span class="advant-item-number">50</span>
          <p class="advant-item-text">Постійних клієнтів</p>
        </li>
      </ul>
    </div>
  </div>
</section>
