<section class="blog section">
  <div class="container">
    <div class="blog-mob-title-wrap">
      <h3 class="blog-pre-title">Blog</h3>
      <h2 class="blog-title">Best Barbershop in your city</h2>
    </div>
    <div class="blog-card">
      <div class="front-card">
        <img src="./images/blog/blog-1.jpg" alt="romaha-1" />
      </div>
      <div class="back-card">
        <img src="./images/blog/blog-2.jpg" alt="romaha-2" />
      </div>
    </div>
    <div class="blog-wrap">
      <div class="blog-tab-desc-title-wrap">
        <h3 class="blog-pre-title">Blog</h3>
        <h2 class="blog-title">Best Barbershop in your city</h2>
      </div>
      <div class="blog-text-wrap">
        <p class="blog-text-first">
          Personal care is a good cologne, well-groomed skin and hair, neat
          comfortable clothes. Male beauty is in simplicity, everything should
          be brutal, but tasteful. A classic suit is ideal in a certain setting,
          on a shoot, at a meeting, at a serious event. And walking in shoes and
          a bow tie among sneakers and sweatpants, in my opinion, is strange.
        </p>
        <p class="blog-text-second">
          Уход за собой - это хороший одеколон, ухоженные волосы, удобная
          одежда. Мужская красота в простоте, все должно быть жестоко, но со
          вкусом. Классический костюм идеален в определенной обстановке, на
          встрече, на серьезном мероприятии. И ходить в туфлях и с галстуком
          среди кроссовок и спортивных штанов, на мой взгляд, странно.
        </p>
      </div>
      <a
        class="instagram"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Instagram</a
      >
    </div>
  </div>
</section>
