<section class="section">
  <div class="container">
    <div class="blog-mob-title-wrap">
      <h3 class="pre-title-dark">Блог</h3>
      <h2 class="title-dark">Найкращий барбер твого міста</h2>
    </div>
    <div class="blog-card">
      <div class="front-card">
        <img src="./images/blog/blog-1-mob.jpg" alt="romaha-1" />
      </div>
      <div class="back-card">
        <img src="./images/blog/blog-2-mob.jpg" alt="romaha-2" />
      </div>
    </div>
    <div class="blog-wrap">
      <div class="blog-tab-desc-title-wrap">
        <h3 class="pre-title-dark">Блог</h3>
        <h2 class="title-dark">Найкращий барбер твого міста</h2>
      </div>
      <div class="blog-text-wrap">
        <p class="blog-text-first">
          Що робить барбера таким важливим у житті чоловіка? Відповідь проста -
          він забезпечує належний догляд за волоссям та бородою, допомагаючи
          створити бездоганний зовнішній вигляд. Західні чоловіки давно
          зрозуміли це, тому у них є ціла культура барберів, які допомагають їм
          виглядати на висоті.
        </p>
        <p class="blog-text-second">
          Догляд за собою - це гарний одеколон, доглянуте волосся, зручна одяг.
          Чоловіча краса в простоті, все має бути жорстоко, але з смаком.
          Класичний костюм ідеальний у певній обстановці, на зустрічі, на
          серйозному заході. І ходити в туфлях та з краваткою серед кросівок та
          спортивних штанів, на мій погляд, дивно.
        </p>
      </div>
      <a
        class="instagram"
        href="https://www.instagram.com/ramaha_barber/?igshid=YmMyMTA2M2Y%3D"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Instagram</a
      >
    </div>
  </div>
</section>
