<section class="blog section">
  <div class="container">
    <h3 class="blog-pre-title">Blog</h3>
    <h2 class="blog-title">Best Barbershop in your city</h2>
    <div class="blog-card">
      <div class="front-card">
        <img src="./images/blog/blog-1.jpg" alt="romaha-1" />
      </div>
      <div class="back-card">
        <img src="./images/blog/blog-2.jpg" alt="romaha-2" />
      </div>
    </div>
    <div class="blog-text-wrap">
      <p class="blog-text-first">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
      <p class="blog-text-second">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
    </div>
  </div>
</section>
