<footer class="section footer">
  <div class="container">
    <form class="footer-form">
      <h2 class="title-ligth">Онлайн-запис</h2>
      <input required placeholder="ім'я*" class="form-input" type="text" />
      <input required placeholder="телефон*" class="form-input" type="tel" />
      <textarea
        placeholder="коментар"
        class="form-textarea"
        cols="10"
        rows="4"
      ></textarea>
      <button class="button footer-btn" type="submit">Відправити</button>
    </form>

    <div class="nav-wrap">
      <h2 class="title-ligth">Контакти</h2>
      <div class="footer-nav-list-wrap">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href=""></a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href=""></a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-nav-link" href=""></a>
          </li>
        </ul>
        <div class="footer-hours-wrap">
          <h3 class="pre-title-light footer-pre-title">Робочий час</h3>
          <p class="footer-hours-text"></p>
        </div>
      </div>
    </div>
  </div>
</footer>
