<footer class="section footer">
  <div class="container">
    <form class="footer-form">
      <h2 class="title-ligth">Онлайн-запис</h2>
      <input required placeholder="ім'я*" class="form-input" type="text" />
      <input required placeholder="телефон*" class="form-input" type="tel" />
      <textarea
        placeholder="коментар"
        class="form-textarea"
        cols="10"
        rows="4"
      ></textarea>
      <button class="button footer-btn" type="submit">Відправити</button>
    </form>
    <div>
      <h2 class="title-ligth">Контакти</h2>
      <div>
        <ul>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
        <div>
          <h3 class="pre-title-light">Робочий час</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</footer>
