<section class="section form">
  <div class="container">
    <form class="form-items">
      <h2 class="title-ligth">Онлайн-запис</h2>
      <input
        name="name"
        required
        placeholder="ім'я*"
        class="form-input"
        type="text"
      />
      <input
        name="phone"
        required
        placeholder="телефон*"
        class="form-input"
        type="tel"
      />
      <textarea
        name="text"
        placeholder="коментар"
        class="form-textarea"
        cols="10"
        rows="4"
      ></textarea>
      <button class="button form-btn" type="submit">Відправити</button>
    </form>
  </div>
</section>
