<section class="section gallery-section">
  <div class="container">
    <h3 class="pre-title-dark">Галерея</h3>
    <ul class="gallery-list gallery">
      <a class="gallery-item-link" href="./images/simpleBoxPhoto/gallery-1.jpg"
        ><li>
          <picture>
            <source
              srcset="./images/gallery/gallery-1-desk.jpg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/gallery/gallery-1-tab.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/gallery/gallery-1-mob.jpg"
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery/gallery-1-mob.jpg"
              alt="photo-gallery-1"
            />
          </picture></li
      ></a>
      <a class="gallery-item-link" href="./images/simpleBoxPhoto/gallery-2.jpg"
        ><li>
          <picture>
            <source
              srcset="./images/gallery/gallery-2-desk.jpg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/gallery/gallery-2-tab.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/gallery/gallery-2-mob.jpg"
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery/gallery-2-mob.jpg"
              alt="photo-gallery-1"
            />
          </picture></li
      ></a>
      <a class="gallery-item-link" href="./images/simpleBoxPhoto/gallery-3.jpg"
        ><li>
          <picture>
            <source
              srcset="./images/gallery/gallery-3-desk.jpg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/gallery/gallery-3-tab.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/gallery/gallery-3-mob.jpg"
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery/gallery-3-mob.jpg"
              alt="photo-gallery-1"
            />
          </picture></li
      ></a>
      <a class="gallery-item-link" href="./images/simpleBoxPhoto/gallery-4.jpg"
        ><li>
          <picture>
            <source
              srcset="./images/gallery/gallery-4-desk.jpg"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/gallery/gallery-4-tab.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/gallery/gallery-4-mob.jpg"
              media="(min-width: 320px)"
            />
            <img
              src="./images/gallery/gallery-4-mob.jpg"
              alt="photo-gallery-1"
            />
          </picture></li
      ></a>
    </ul>
  </div>
</section>
