<section class="section gallery">
  <div class="container">
    <h3 class="pre-title-dark">Галерея</h3>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img src="./images/gallery/gallery-1-mob.jpg" alt="photo-gallery-1" />
      </li>
      <li class="gallery-item">
        <img src="./images/gallery/gallery-2-mob.jpg" alt="photo-gallery-2" />
      </li>
      <li class="gallery-item">
        <img src="./images/gallery/gallery-3-mob.jpg" alt="photo-gallery-3" />
      </li>
      <li class="gallery-item">
        <img src="./images/gallery/gallery-4-mob.jpg" alt="photo-gallery-4" />
      </li>
    </ul>
  </div>
</section>
