<section class="section gallery-section">
  <div class="container">
    <h3 class="pre-title-dark">Галерея</h3>
    <ul class="gallery-list gallery">
      <a class="gallery-item-link" href="./images/simpleBoxPhoto/gallery-1.jpg"
        ><li>
          <img
            src="./images/gallery/gallery-1-mob.jpg"
            alt="photo-gallery-1"
          /></li
      ></a>
      <a class="gallery-item-link" href="./images/simpleBoxPhoto/gallery-2.jpg"
        ><li>
          <img
            src="./images/gallery/gallery-2-mob.jpg"
            alt="photo-gallery-2"
          /></li
      ></a>
      <a class="gallery-item-link" href="./images/simpleBoxPhoto/gallery-3.jpg"
        ><li>
          <img
            src="./images/gallery/gallery-3-mob.jpg"
            alt="photo-gallery-3"
          /></li
      ></a>
      <a class="gallery-item-link" href="./images/simpleBoxPhoto/gallery-4.jpg"
        ><li>
          <img
            src="./images/gallery/gallery-4-mob.jpg"
            alt="photo-gallery-4"
          /></li
      ></a>
    </ul>
  </div>
</section>
