<header class="header header-mob">
  <div class="container header-mob-wrap">
    <svg class="logo-mob" width="65" height="50">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <div class="nav-icon">
      <span></span>
    </div>
  </div>

  <!-- мобильное меню -->

  <div class="mob-menu">
    <svg class="logo" width="65" height="50">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <ul class="mob-menu-list">
      <li class="mob-menu-item"><a class="mob-menu-link" href="#">Blog</a></li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#">Price</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#">Advantages</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#">Gallery</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#">Contacts</a>
      </li>
    </ul>
    <div class="mob-menu-wrap">
      <a class="mob-menu-tel" href="tel:+380635779878">+38 063 577 98 78</a>
      <a class="button" href="#">Online-booking</a>
      <a
        class="instagram"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Instagram</a
      >
    </div>
  </div>
</header>
