<header class="header">
  <div class="container">
    <div class="header-wrap">
      <svg class="logo" width="65" height="50">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <ul class="header-list">
        <li class="header-item">
          <a data-goto=".blog" class="header-link" href="#">Блог</a>
        </li>
        <li class="header-item">
          <a data-goto=".price" class="header-link" href="#">Прайс</a>
        </li>
        <li class="header-item">
          <a data-goto=".advant" class="header-link" href="#">Переваги</a>
        </li>
        <li class="header-item">
          <a data-goto=".gallery-section" class="header-link" href="#"
            >Галерея</a
          >
        </li>
        <li class="header-item">
          <a data-goto=".contacts" class="header-link" href="#">Контакти</a>
        </li>
      </ul>
      <div class="header-tel-wrap">
        <a
          class="button header-btn"
          href="https://widget.easyweek.io/mens-core/team/45416/40598"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Онлайн-запис</a
        >
        <a class="header-tel" href="tel:+380635779878">+38 063 577 98 78</a>
      </div>
    </div>

    <div class="header-mob-wrap">
      <svg class="logo" width="65" height="50">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <div class="nav-icon">
        <span></span>
      </div>
    </div>
  </div>

  <!-- мобильное меню -->

  <div class="mob-menu">
    <svg class="logo-mob" width="65" height="50">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a data-goto=".blog" class="mob-menu-link" href="#">Блог</a>
      </li>
      <li class="mob-menu-item">
        <a data-goto=".price" class="mob-menu-link" href="#">Прайс</a>
      </li>
      <li class="mob-menu-item">
        <a data-goto=".advant" class="mob-menu-link" href="#">Переваги</a>
      </li>
      <li class="mob-menu-item">
        <a data-goto=".gallery" class="mob-menu-link" href="#">Галерея</a>
      </li>
      <li class="mob-menu-item">
        <a data-goto=".contacts" class="mob-menu-link" href="#">Контакти</a>
      </li>
    </ul>
    <div class="mob-menu-wrap">
      <a class="mob-menu-tel" href="tel:+380635779878">+38 063 577 98 78</a>
      <a
        class="button"
        href="https://widget.easyweek.io/mens-core/team/45416/40598"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Онлайн-запис</a
      >
      <a
        class="instagram"
        href="https://www.instagram.com/ramaha_barber/?igshid=YmMyMTA2M2Y%3D"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Instagram</a
      >
    </div>
  </div>
</header>
