<section class="hero section">
  <div class="container">
    <h3 class="hero-pre-title">Чоловічий майстер в Києві</h3>
    <h1 class="hero-title">Рамаха Барбер</h1>
    <p class="hero-text">
      Я експерт в модних чоловічих стрижках. Працюю швидко, акуратно та зі
      стилем.
    </p>
  </div>

  <button class="open-cart-shop-btn">
    <svg class="icon-cart-shop" width="25" height="25">
      <use href="./images/symbol.svg#icon-cart"></use>
    </svg>
  </button>

  <a
    class="hero-soc"
    href="https://www.instagram.com/ramaha_barber/?igshid=YmMyMTA2M2Y%3D"
    target="_blank"
    rel="noopener noreferrer nofollow"
    >Instagram</a
  >
  <div class="border-arrow">
    <p class="arrow"></p>
  </div>
</section>
