<section class="section price">
  <div class="container">
    <h3 class="pre-title-light">Прайс</h3>
    <h2 class="title-ligth price-title">Послуги та ціни</h2>
    <ul class="price-list">
      <li class="price-item">
        <p class="price-text">Догляд за бородою та вусами</p>
        <p class="price-text">300 грн.</p>
      </li>
      <li class="price-item">
        <p class="price-text">Стрижка машинкою</p>
        <p class="price-text">400 грн.</p>
      </li>
      <li class="price-item">
        <p class="price-text">Стрижка (машинка + ножиці)</p>
        <p class="price-text">500 грн.</p>
      </li>
      <li class="price-item">
        <p class="price-text">Комбо (стрижка + борода)</p>
        <p class="price-text">800 грн.</p>
      </li>
      <li class="price-item">
        <p class="price-text">Батько та син (до 14 років)</p>
        <p class="price-text">900 грн.</p>
      </li>
    </ul>
    <a
      class="button price-btn animate__animated animate__pulse animate__infinite"
      href="https://widget.easyweek.io/mens-core/team/45416/40598"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Онлайн-запис</a
    >
  </div>
</section>
