<div class="backdrop is-hidden js-shop-card">
  <div class="shop-card">
    <button class="card-shop-btn">
      <svg class="card-shop-icon" width="20" height="20">
        <use href="./images/symbol.svg#icon-cancel"></use>
      </svg>
    </button>
    <h2 class="title-dark">Кошик</h2>
    <div class="card-shop-wrap">
      <ul class="card-shop-list"></ul>
      <h3 class="card-shop-sum-title">
        Загальна сума товарів:
        <span class="card-shop-total-price store-item-price"></span>
      </h3>
      <form class="card-shop-form">
        <input
          name="name"
          required
          placeholder="ім'я*"
          class="card-shop-input"
          type="text"
        />
        <input
          name="phone"
          required
          placeholder="телефон*"
          class="card-shop-input"
          type="tel"
        />
        <button class="card-shop-form-btn button" type="submit">
          Замовити
        </button>
      </form>
    </div>
  </div>
</div>
