<section class="section store">
  <div class="container">
    <h3 class="pre-title-dark">Магазин</h3>
    <h2 class="title-dark store-title">Подбай про себе</h2>
    <ul class="store-list">
      <li data-id="card-1" class="store-item">
        <div class="store-thumb">
          <img src="./images/store/store-1.jpg" alt="Помада дял волосся" />
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Uppercut matte pomade 100g</p>
          <p class="store-item-price">650 грн.</p>
          <button class="store-item-btn">К.</button>
        </div>
      </li>
      <li data-id="card-2" class="store-item">
        <div class="store-thumb">
          <img
            src="./images/store/store-2.jpg"
            alt="Помада для волосся маленька"
          />
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Uppercut matte pomade 30g</p>
          <p class="store-item-price">350 грн.</p>
          <button class="store-item-btn">К.</button>
        </div>
      </li>
      <li data-id="card-3" class="store-item">
        <div class="store-thumb">
          <img src="./images/store/store-3.jpg" alt="Пудра для волосся" />
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Uppercut styling powder 20g</p>
          <p class="store-item-price">500 грн.</p>
          <button class="store-item-btn">К.</button>
        </div>
      </li>
      <li data-id="card-4" class="store-item">
        <div class="store-thumb">
          <img src="./images/store/store-4.jpg" alt="Гель після бриття" />
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Proraso after shave 100ml</p>
          <p class="store-item-price">350 грн.</p>
          <button class="store-item-btn">К.</button>
        </div>
      </li>
      <li data-id="card-5" class="store-item">
        <div class="store-thumb">
          <img src="./images/store/store-5.jpg" alt="Бальзам після бриття" />
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Proraso beard balm 100ml</p>
          <p class="store-item-price">400 грн.</p>
          <button class="store-item-btn">К.</button>
        </div>
      </li>
      <li data-id="card-6" class="store-item">
        <div class="store-thumb">
          <img src="./images/store/store-6.jpg" alt="Чоловічий шампунь" />
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Proraso beard shampoo 200ml</p>
          <p class="store-item-price">400 грн.</p>
          <button class="store-item-btn">К.</button>
        </div>
      </li>
    </ul>
  </div>
</section>
