<section class="section store">
  <div class="container">
    <h3 class="pre-title-dark">Магазин</h3>
    <h2 class="title-dark store-title">Подбай про себе</h2>
    <ul class="store-list">
      <li data-id="card-1" class="store-item">
        <div class="store-thumb">
          <picture>
            <source
              srcset="./images/store/store-1.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/store/store-1-mob.jpg"
              media="(min-width: 320px)"
            />
            <img
              src="./images/store/store-1-mob.jpg"
              alt="Помада дял волосся"
            />
          </picture>
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Uppercut matte pomade 100g</p>
          <p class="store-item-price">650 &#8372;</p>
          <button type="button" data-cart="cart" class="store-item-btn">
            <svg class="store-icon-cart" width="20" height="20">
              <use href="./images/symbol.svg#icon-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li data-id="card-2" class="store-item">
        <div class="store-thumb">
          <picture>
            <source
              srcset="./images/store/store-2.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/store/store-2-mob.jpg"
              media="(min-width: 320px)"
            />
            <img
              src="./images/store/store-2-mob.jpg"
              alt="Помада для волосся маленька"
            />
          </picture>
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Uppercut matte pomade 30g</p>
          <p class="store-item-price">350 &#8372;</p>
          <button type="button" data-cart="cart" class="store-item-btn">
            <svg class="store-icon-cart" width="20" height="20">
              <use href="./images/symbol.svg#icon-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li data-id="card-3" class="store-item">
        <div class="store-thumb">
          <picture>
            <source
              srcset="./images/store/store-3.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/store/store-3-mob.jpg"
              media="(min-width: 320px)"
            />
            <img src="./images/store/store-3-mob.jpg" alt="Пудра для волосся" />
          </picture>
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Uppercut styling powder 20g</p>
          <p class="store-item-price">500 &#8372;</p>
          <button type="button" data-cart="cart" class="store-item-btn">
            <svg class="store-icon-cart" width="20" height="20">
              <use href="./images/symbol.svg#icon-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li data-id="card-4" class="store-item">
        <div class="store-thumb">
          <picture>
            <source
              srcset="./images/store/store-4.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/store/store-4-mob.jpg"
              media="(min-width: 320px)"
            />
            <img src="./images/store/store-4-mob.jpg" alt="Гель після бриття" />
          </picture>
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Proraso after shave 100ml</p>
          <p class="store-item-price">350 &#8372;</p>
          <button type="button" data-cart="cart" class="store-item-btn">
            <svg class="store-icon-cart" width="20" height="20">
              <use href="./images/symbol.svg#icon-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li data-id="card-5" class="store-item">
        <div class="store-thumb">
          <picture>
            <source
              srcset="./images/store/store-5.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/store/store-5-mob.jpg"
              media="(min-width: 320px)"
            />
            <img
              src="./images/store/store-5-mob.jpg"
              alt="Бальзам після бриття"
            />
          </picture>
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Proraso beard balm 100ml</p>
          <p class="store-item-price">400 &#8372;</p>
          <button type="button" data-cart="cart" class="store-item-btn">
            <svg class="store-icon-cart" width="20" height="20">
              <use href="./images/symbol.svg#icon-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li data-id="card-6" class="store-item">
        <div class="store-thumb">
          <picture>
            <source
              srcset="./images/store/store-6.jpg"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/store/store-6-mob.jpg"
              media="(min-width: 320px)"
            />
            <img src="./images/store/store-6-mob.jpg" alt="Чоловічий шампунь" />
          </picture>
        </div>
        <div class="store-item-decs">
          <p class="store-item-text">Proraso beard shampoo 200ml</p>
          <p class="store-item-price">400 &#8372;</p>
          <button type="button" data-cart="cart" class="store-item-btn">
            <svg class="store-icon-cart" width="20" height="20">
              <use href="./images/symbol.svg#icon-cart"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>

    <div class="shop-cart cart-none">
      <button class="cart-shop-btn">
        <svg class="cart-shop-icon" width="20" height="20">
          <use href="./images/symbol.svg#icon-cancel"></use>
        </svg>
      </button>
      <h2 class="title-dark">Кошик товарів</h2>
      <div class="cart-shop-wrap">
        <ul class="cart-shop-list"></ul>
        <h3 class="cart-shop-sum-title">
          Загальна сума товарів:
          <span class="cart-shop-total-price store-item-price"></span>
        </h3>
        <form class="cart-shop-form">
          <input
            name="name"
            required
            placeholder="ім'я*"
            class="cart-shop-input"
            type="text"
          />
          <input
            name="phone"
            required
            placeholder="телефон*"
            class="cart-shop-input"
            type="tel"
          />
          <button class="cart-shop-form-btn button" type="submit">
            Замовити
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
