.blog-mob-title-wrap {
  @include tablet {
    display: none;
  }
}

.blog-tab-desc-title-wrap {
  @media screen and (max-width: 767px) {
    display: none; 
  }
}

.blog-card-wrap {
  @include tablet {
    gap: 40px;
    display: flex;
    align-items: center;
  }
}

.blog-card {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 260px;
  height: 230px;
  cursor: pointer;
  transition: transform 250ms $transition;

  &:hover, &:focus {
    transform: scale(1.01);
  }

@include mobile {
  width: 420px;
  height: 360px;
}

@include tablet {
  margin: 0;
  height: 450px;
}

@media screen and (min-width: 1024px) {
  height: 510px;
}
}

.front-card, .back-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1s $transition, opacity 1s $transition;
  backface-visibility: hidden;
}

.front-card {
  opacity: 1;
}

.click-front {
  transform: perspective(300px) rotateY(360deg);
  opacity: 0;
}

.back-card {
  opacity: 0;
}

.click-back {
  transform: perspective(300px) rotateY(360deg);
  opacity: 1;
}

// ---

.blog-title {
  margin-bottom: 0;
}

.blog-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-text-wrap {
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  height: 230px;
  width: 100%;
  overflow: hidden;
  display: flex;

@media screen and (min-width: 375px) {
  height: 180px;
}

@media screen and (min-width: 425px) {
  height: 160px;
}

@media screen and (min-width: 580px) {
  height: 160px;
}

@include tablet {
  margin: 0;
  height: 200px;
}
}

.blog-text-first, .blog-text-second {
position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1s $transition, opacity 1s $transition;

  line-height: 1.68;
  letter-spacing: 0.02em;
  
  color: $text-color;

  @include desktop {
    font-size: 16px;
  }
}

.blog-text-first {
  transform: translateX(0);
  opacity: 1;
}

.slide-first {
  transform: translateX(-500px);
  opacity: 0;
}

.blog-text-second {
  transform: translateX(500px);
  opacity: 0;
}

.slide-second {
  transform: translateX(0);
  opacity: 1;
}