.footer {
  padding-top: 84px;
  padding-bottom: 84px;
  margin: 0 auto;
  max-width: 1600px;

  background-color: $background-color;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(./../images/footer/footer-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-pre-title {
  color: $main-color;
}