.footer {
  height: 5000px;
  padding-top: 44px;
  padding-bottom: 44px;
  color: $footer-color;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-size: 9px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: $hero-text-color;

  @include mobile {
    font-size: 11px;
  }
}