.gallery-section {
  overflow: hidden;
  background-color: $gallery-color;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gallery-item-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .12),
    0px 1px 1px rgba(0, 0, 0, .14),
    0px 2px 1px rgba(0, 0, 0, .2);

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }

  @media screen and (max-width: 1199px) {
    &:nth-child(even) {
      transition: transform 1s $transition, opacity 1s $transition;
      transform: translateX(200px);
      opacity: 0;
    }
    
    &:nth-child(odd) {
      transition: transform 1s $transition, opacity 1s $transition;
      transform: translateX(-200px);
      opacity: 0;
    }
  }
}

.animated-gallery {

  @media screen and (max-width: 1199px) {
  &:nth-child(even) {
      transform: translateX(0);
      opacity: 1;
    }
  
    &:nth-child(odd) {
      transform: translateX(0);
      opacity: 1;
    }
  }
}