.gallery {
  background-color: $gallery-color;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gallery-item {
transform: translateY(100px);
opacity: 0;
transition: transform 1s $transition, opacity 1s $transition;
}

.animated-gallery {
  transform: translateY(0);
  opacity: 1;
}