.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;
}

.header-wrap {
display: flex;
justify-content: space-between;
align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-list {
  display: flex;
  gap: 20px;

  @include desktop {
    gap: 30px;
  }
}

.header-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  transition: color 250ms $transition;

  color: $main-color;

  &:hover, &:focus {
    color: $current-color;
  }

  @include desktop {
    font-size: 14px;
  }
}

.header-tel {
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;

color: $main-color;

@include desktop {
    font-size: 14px;
  }
}

.header-btn {
  color: $main-color;
}

.header-tel-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include desktop {
    flex-direction: row-reverse;
    gap: 40px;
  }
}

.header-mob-wrap {
display: flex;
justify-content: space-between;

@include tablet {
  display: none;
}
}

.logo {
  fill: $main-color;
}

// кнопка меню

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  transition-duration: 1s;
  cursor: pointer;
}

.nav-icon span {
  height: 4px;
  width: 35px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  transition-duration: .25s;
  transition-delay: .25s;
}

.nav-icon span:before {
  left: 0;
  position: absolute;
  top: -9px;
  height: 4px;
  width: 35px;
  background-color: #fff;
  content: "";
  border-radius: 20px;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}

.nav-icon span:after {
  left: 0;
  position: absolute;
  top: 9px;
  height: 4px;
  width: 35px;
  background-color: #fff;
  content: "";
  border-radius: 20px;
  transition-duration: .25s;
  transition: transform .25s, top .25s .25s;
}

.nav-icon.open span {
  transition-duration: 0.1s;
  transition-delay: .25s;
  background: transparent;
}

.nav-icon.open span:before {
  transition: top .25s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(-45deg);
}

.nav-icon.open span:after {
  transition: top 0.4s, transform .25s .25s;
  top: 0px;
  transform: rotateZ(45deg);
}

// мобильное меню

.mob-menu {
  padding: 40px 30px;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: auto;
  width: 75%;
  height: 100vh;
  background-color: $main-color;

  transition: transform 250ms $transition, opacity 250ms $transition;
  transform: translateX(-101%);
  opacity: 0;

  @include tablet {
    display: none;
  }
}

.mob-menu-open {
  transform: translateX(0);
  opacity: 1;
}

.logo-mob {
  fill: $title-color;
}

.mob-menu-list {
  margin-top: 30px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-link {
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.1em;

  color: $title-color;
  transition: color 250ms $transition;

  @include mobile {
    font-size: 18px;
  }

  &:hover, &:focus {
    color: $current-color;
  }
}

.mob-menu-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-tel {
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $title-color;

  @include mobile {
    font-size: 18px;
  }
}