.hero {
  margin: 0 auto;
  padding-top: 200px;
  height: 480px;
  max-width: 1500px;

  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), 
    url(./../images/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mobile {
    height: 580px;
  }
}

.hero-pre-title {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 8px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $hero-pre-title-color;

  &::before {
    content: '';
    width: 50px;
    height: 1px;
    background-color: $hero-pre-title-color;
    }

    @include mobile {
      font-size: 11px;
    }
}


.hero-title {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-size: 30px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: $main-color;

  @include mobile {
    font-size: 40px;
  }
}

.hero-text {
    width: 260px;
    font-size: 12px;
    line-height: 1.62;
    letter-spacing: 0.02em;

    color: $hero-text-color;

    @include mobile {
      width: 320px;
      font-size: 14px;
    }
}