.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  background-color: $background-color;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), 
    url(./../images/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    position: relative;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(./../images/hero/hero-tab.jpg);
  }

  @include desktop {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(./../images/hero/hero-desk.jpg);
  }
}

.hero-pre-title {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 8px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $hero-pre-title-color;

  &::before {
    content: '';
    width: 50px;
    height: 1px;
    background-color: $hero-pre-title-color;
    }

    @include mobile {
      font-size: 11px;
    }

    @include desktop {
      font-size: 13px;
    }
}


.hero-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: $main-color;

  @include mobile {
    font-size: 40px;
  }

  @include desktop {
    font-size: 72px;
  }
}

.hero-text {
    width: 260px;
    font-size: 12px;
    line-height: 1.62;
    letter-spacing: 0.02em;

    color: $hero-text-color;

    @include mobile {
      width: 320px;
      font-size: 14px;
    }

    @include tablet {
      width: 360px;
      font-size: 16px;
    }

    @include desktop {
      width: 380px;
      font-size: 18px;
    }
}

.border-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  width: 30px;
  border: 2px solid $current-color;
  border-radius: 50%;
  transition: transform 500ms $transition;

  &:hover, &:focus {
    transform: rotate(180deg);
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);

  border-color: $current-color;
}

.hero-soc {
  display: none;
  @include tablet {
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 12px;
    line-height: 1.35;
    letter-spacing: 0.2em;
    
    color: $hero-text-color;
    
    &::before {
      content: '';
      width: 50px;
      height: 1px;
      background-color: $hero-text-color;
    }
    
    &:hover::before {
      background-color: $current-color;
    }
  }
}