.shop-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 30px;
  width: calc(100% - 60px);
  z-index: 10;
  border-radius: 20px;
  background-color: $main-color;
  transition: transform 300ms linear;

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }

  @include mobile {
    width: 420px;
  }

  @include tablet {
    width: 550px;
  }
}

.cart-none {
  display: none;
}

.cart-shop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.cart-shop-icon {
  fill: $current-color;
}

.cart-shop-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 220px;
  overflow: auto;

  @include tablet {
    max-height: 330px;
  }
}

.cart-shop-item {
  border: 1px solid $current-color;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-text {
  font-size: 10px;
  line-height: 1.68;
  letter-spacing: 0.02em;
  color: $text-color;

  @include tablet {
    font-size: 14px;
  }
}

.cart-item-btn {
  border: 1px solid $current-color;
  background-color: transparent;
  border-radius: 20px;
  line-height: 1.68;
  letter-spacing: 0.02em;
  color: $text-color;
  font-size: 10px;

  @include tablet {
    font-size: 14px;
  }
}

.cart-shop-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-shop-sum-title {
  font-size: 12px;
  line-height: 1.36;
  text-transform: uppercase;
  color: $title-color;

  @include tablet {
    font-size: 14px;
  }
}

.cart-shop-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.cart-shop-input {
  border: none;
  border-bottom: 1px solid $current-color;
  width: calc((100% - 15px) / 2);
  padding: 8px;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: $current-color;

  &::placeholder {
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $current-color;
  }
}

.empty-shop-cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 13px;
  line-height: 1.36;
  text-transform: uppercase;
  color: red;

  @include tablet {
    font-size: 16px;
  }

  &::after {
    content: '\2639';
    font-size: 26px;

    @include tablet {
      font-size: 32px;
    }
  }
}